@page
@model ClientManagement.Pages.Clients.IndexModel
@{
}

<br />
<h2>All Clients <a class="btn btn-outline-success" href="/clients/create">Add Cilent +</a></h2>


<table class="table table-striped table-bordered table-sm table-hover">
    <thead class="table-info">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.clientsList)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td><a class="btn btn-outline-primary" href="/Clients/Edit?id=@item.id">Edit</a></td>
                <td><a class="btn btn-outline-danger" href="/Clients/Delete?id=@item.id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

